<h1>Food Recipe</h1>
<table>
  <tr>
    <th>Ingredient</th>
    <th>Spice</th>
    <th>Measurement</th>
  </tr>
  <tr>
    <td><%= @food["ingredient"] %></td>
    <td><%= @food["spice"] %></td> 
    <td><%= @food["measurement"] %></td>
  </tr>
</table>
   